<footer>
  <p>Srsly &copy; <%= new Date().toDateString().slice(-4) %>
  <p>A work in progress by <a href="https://www.harrietryder.co.uk" target="_blank">harrietryder.co.uk</a>.</p>
</footer>
</body>
</html>